<template lang="pug">
form#modal(v-hotkey="keymap")
  .modal-card
    header.modal-card-head.modal-card-title
      p(v-if="event === 'store'") {{ $t('label.create', { module: $tc('module.concessionaire') }) }}
      p(v-if="event === 'update'") {{ $t('label.edit', { module: $tc('module.concessionaire') }) }}
    .modal-card-body(v-if="isLoading")
      b-progress
    .modal-card-body(v-if="!isLoading")
      #container-step.container
        section
          b-steps(
            size="is-small",
            v-model="currentStep",
            :hasNavigation="false"
          )
            b-step-item(
              v-for="(step, i) in steps",
              :key="i",
              :label="step.label",
              :icon="step.icon",
              :type="{ 'is-success': step.complete }"
            )
              component(
                :ref="step.label",
                v-bind:is="step.component",
                @isValid="isValid",
                :model="form",
                :referencias="referencias"
              )

            b-step-item(:label="$t('label.save')", icon="save")
              div(style="margin-top: 20px")
                h4.subtitle.is-4(align="center", v-if="event === 'store'") {{ $t('label.createMsg', { module: $tc('module.concessionaire') }) }}
                h4.subtitle.is-4(align="center", v-if="event === 'update'") {{ $t('label.editMsg', { module: $tc('module.concessionaire') }) }}

              div(style="text-align:center; margin-top: 40px;")
                b-button#save(
                  type="is-success",
                  @click="formEvent",
                  icon-left="save",
                  :disabled="isDisabled"
                ) {{ $t('btn.save') }}

            template(slot="navigation", slot-scope="{previous, next}")
              .buttons.modal-actions
                b-button(
                  :disabled="previous.disabled",
                  @click.prevent="previous.action"
                )
                  .fa.fa-arrow-left
                b-button(:disabled="next.disabled", @click="nextStep")
                  .fa.fa-arrow-right
</template>
<script>
//import apiConsecionario from "@/api/concessionairee";
import step1 from "./step1";
import step2 from "./step2";
import step3 from "./step3";
export default {
  name: "modalConsecionario",
  props: {
    object: {
      type: Object,
    },
    event: String,
  },
  components: {
    step1,
    step2,
    step3,
  },
  mounted() {
    var self = this;
    if (self.event == "store") {
      
      self.referencias ={
        paisesList: [
          {
            id: 1,
            nombre: "VENEZUELA"
          },
          {
            id: 2,
            nombre: "PERU"
          }
        ],
        estadosList: [
          {
            id: 1,
            nombre: "DISTRITO CAPITAL",
            pais_id:1
          },
          {
            id: 2,
            nombre: "MIRANDA",
            pais_id:1
          },
          {
            id: 3,
            nombre: "MERIDA",
            pais_id:1
          },
          {
            id: 4,
            nombre: "LIMA",
            pais_id: 2
          },
        ],
        municipiosList: [
          {
            id: 1,
            nombre: "LIBERTADOR",
            estado_id:1
          },
          {
            id: 2,
            nombre: "GUAICAIPURO",
            estado_id:2
          },
          {
            id: 3,
            nombre: "EL VIGÍA",
            estado_id:3
          },
          {
            id: 4,
            nombre: "BARRANCO",
            estado_id: 4
          },
        ],
      };

      setTimeout(function(){ 
        self.isLoading = false;
      }, 1500);
      /*
      peticion al backend
      apiConsecionario
        .create()
        .then(function (res) {
          self.referencias = res.referencias;
        })
        .catch(function (err) {
          console.error(err);
        })
        .finally(function () {
          self.isLoading = false;
        });
        */
    } else {
      // Para editar se buscan las referencias del consecionario
      self.referencias ={
        paisesList: [
          {
            id: 1,
            nombre: "VENEZUELA"
          },
          {
            id: 2,
            nombre: "PERU"
          }
        ],
        estadosList: [
          {
            id: 1,
            nombre: "DISTRITO CAPITAL",
            pais_id:1
          },
          {
            id: 2,
            nombre: "MIRANDA",
            pais_id:1
          },
          {
            id: 3,
            nombre: "MERIDA",
            pais_id:1
          },
          {
            id: 4,
            nombre: "LIMA",
            pais_id: 2
          },
        ],
        municipiosList: [
          {
            id: 1,
            nombre: "LIBERTADOR",
            estado_id:1
          },
          {
            id: 2,
            nombre: "GUAICAIPURO",
            estado_id:2
          },
          {
            id: 3,
            nombre: "EL VIGÍA",
            estado_id:3
          },
          {
            id: 4,
            nombre: "BARRANCO",
            estado_id: 4
          },
        ],
      };

      setTimeout(function(){ 
        self.isLoading = false;
      }, 1500);
      /*
      peticion al backend
      apiConsecionario
        .edit(self.object.id)
        .then(function (res) {
          self.referencias = res;
        })
        .catch(function (err) {
          console.error(err);
        })
        .finally(function () {
          self.isLoading = false;
        });
      */
    }
  },
  data() {
    return {
      steps: [
        {
          label: this.$t("label.basic"),
          icon: "id-card",
          component: "step1",
          complete: false,
        },
        {
          label: this.$t("label.contact"),
          icon: "address-book",
          component: "step2",
          complete: false,
        },
        {
          label: this.$t("label.direction"),
          icon: "map-marked-alt",
          component: "step3",
          complete: false,
        },
      ],
      form: {
        nombre: this.lodash.isEmpty(this.object) ? "" : this.object.nombre,
        rif: this.lodash.isEmpty(this.object) ? "" : this.object.rif,
        email: this.lodash.isEmpty(this.object) ? "" : this.object.email.trim(),
        telefono: this.lodash.isEmpty(this.object) ? "": this.object.telefono.trim(),
        telefono_secundario: this.lodash.isEmpty(this.object) ? "": this.object.telefono_secundario.trim(),
        email_secundario: this.lodash.isEmpty(this.object) ? "": this.object.email_secundario.trim(),
        direccion: this.lodash.isEmpty(this.object) ? "": this.object.direccion,
        pais: this.lodash.isEmpty(this.object) ? null: this.object.pais? this.object.pais.id : null,
        estado: this.lodash.isEmpty(this.object) ? null: this.object.estado? this.object.estado.id : null,
        municipio: this.lodash.isEmpty(this.object) ? null: this.object.municipio? this.object.municipio.id : null,
      },
      referencias: {},
      isDisabled: false,
      isLoading: true,
      currentStep: 0,
      maxSteps: 3,
    };
  },
  methods: {
    nextStep() {
      let ref = this.steps[this.currentStep].label.toString();
      this.$refs[ref][0].valid();
    },
    isValid() {
      this.currentStep++;
    },
    formEvent() {
      switch (this.event) {
        case "update":
          this.update();
          break;
        case "store":
          this.store();
          break;
        default:
          this.$toast(this.event, "danger");
          break;
      }
    },
    store() {
      var self = this;
      self.isDisabled = true;
      if (self.isDisabled) {
        self.$toast("Guardado exitosamente", "success");
        self.$emit("close");
        self.$parent.$parent.list();
        /*
        apiConsecionario
          .store(this.form)
          .then(function (res) {
            if (res.status == 200) {
              self.$toast(res.data.message, "success");
              self.$emit("close");
              self.$parent.$parent.list();
            } else {
              self.$toast(res.data.message, "danger");
            }
          })
          .catch(function (err) {
            console.error("store@error", err);
            self.$toast(err.response.data.message, "danger");
          })
          .finally(function () {
            setTimeout(() => {
              self.isDisabled = false;
            }, 500);
          });
          */
      }
    },
    update() {
      var self = this;
      self.isDisabled = true;
      if (self.isDisabled) {
        self.$toast("Guardado exitosamente", "success");
        self.$emit("close");
        self.$parent.$parent.list();
        /*
        apiConsecionario
          .update(this.form, this.object.id)
          .then(function (res) {
            if (res.status == 200) {
              self.$toast(res.data.message, "success");
              self.$emit("close");
              self.$parent.$parent.list();
            } else {
              self.$toast(res.data.message, "danger");
            }
          })
          .catch(function (err) {
            console.error("store@error", err);
            self.$toast(err.response.data.message, "danger");
          })
          .finally(function () {
            setTimeout(() => {
              self.isDisabled = false;
            }, 500);
          });
          */
      }
    },
  },
  computed: {
    keymap() {
      if (this.currentStep == this.maxSteps && !this.isDisabled)
        return { enter: this.formEvent };
      else if (this.currentStep < this.maxSteps)
        return { enter: this.nextStep };
      else return { enter: this.nextStep };
    },
  },
};
</script>
