<template lang="pug">
div
  .columns.is-multiline
    .column.is-4
      b-field( :label="$t('label.name')", :type="{ 'is-danger': $v.form.nombre.$error }" ) 
        b-input(required, v-model="form.nombre", minlength="4" )
    .column.is-4
      b-field( :label="$t('label.rif')", :type="{ 'is-danger': $v.form.rif.$error }" )
        b-input(required, v-model="form.rif", minlength="4" )
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  name: "step1",
  props: {
    model: Object,
    referencias: Object,
  },
  data() {
    return {
      form: this.model,
      isLoading: false,
      isValid: false,
    };
  },
  validations: {
    form: {
      logo: {},
      nombre: { required, minLength: minLength(4) },
      rif: { required, minLength: minLength(4) },
    },
  },
  methods: {
    valid() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isValid = false;
      } else {
        this.isValid = true;
        this.$emit("isValid");
      }
    }
  }
};
</script>
