<template lang="pug">
div
  .columns.is-multiline
    .column.is-4
      SelectSearch(
        v-model="form.pais",
        :title="$t('label.country')",
        :options="referencias.paisesList",
        :error="{ 'is-danger': $v.form.pais.$error }",
        field="nombre",
        :required="false",
        @input="cleanPais()"
      )
    .column.is-4
      SelectSearch(
        v-if="form.pais != null && !isLoading",
        v-model="form.estado",
        :title="$t('label.state')",
        :options="referencias.estadosList.filter(ele=> ele.pais_id == form.pais)",
        :error="{ 'is-danger': $v.form.estado.$error }",
        field="nombre",
        :required="false",
        @input="cleanEstado()"
      )
    .column.is-4
      SelectSearch(
        v-if="form.estado != null && !isLoading"
        v-model="form.municipio",
        :title="$t('label.municipality')",
        :options="referencias.municipiosList.filter(ele=> ele.estado_id == form.estado)",
        :error="{ 'is-danger': $v.form.municipio.$error }",
        field="nombre",
        :required="false"
      )
    .column
      b-field(  :label="$t('label.direction')", :type="{ 'is-danger': $v.form.direccion.$error }" ) 
        b-input(v-model="form.direccion")
</template>
<script>
//-components
import SelectSearch from "@/components/SelectSearch";
export default {
  name: "step3",
  props: {
    model: Object,
    referencias: Object,
  },
  components: {
    SelectSearch,
  },
  data() {
    return {
      form: this.model,
      isLoading: false,
      isValid: false,
    };
  },
  validations: {
    form: {
      pais: {},
      estado: {},
      municipio: {},
      direccion: {},
    },
  },
  methods: {
    valid() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isValid = false;
      } else {
        this.isValid = true;
        this.$emit("isValid");
      }
    },

    cleanPais() {
      var self = this;

      self.isLoading = true;
      self.form.estado = null;
      self.form.municipio = null;
      
      setTimeout(function(){ 
        self.isLoading = false;
      }, 50);
    },
    cleanEstado() {
      var self = this;
      
      self.isLoading = true;
      self.form.municipio = null;
      
      setTimeout(function(){ 
        self.isLoading = false;
      }, 50);
    },
    
  },
};
</script>
