@media print {
    #asidebar,
    #nav-bar,
    .footer,
    button,
    .button{
        display: none;
    }
    .noPrint{
        display: none !important;
    }
    .card{
        box-shadow:unset
    }
    #appContainer{
        width: 100%;
    }
    #adminTemplate{
        padding-left:0
    }
    table {
        border: 1px solid #c7c7c7;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    table td, table th {
        border: 1px solid #AAAAAA;
        padding: 3px 2px;
        word-wrap: break-word !important;         /* All browsers since IE 5.5+ */
        overflow-wrap: break-word !important;     /* Renamed property in CSS3 draft spec */
    }
    table tbody td {
        font-size: 13px;
    }
    table tr:nth-child(even) {
        background: #c7c7c7;
    }
    table thead {
        background: #c7c7c7;
        border-bottom: 2px solid #444444;
    }
    table thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        border-left: 2px solid #c7c7c7;
    }
    table thead th:first-child {
        border-left: none;
    }

    table tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #c7c7c7;
        border-top: 2px solid #444444;
    }
    table tfoot td {
        font-size: 14px;
    }
    table tfoot .links {
        text-align: right;
    }
    table tfoot .links a{
        display: inline-block;
        background: #c7c7c7;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }
}