@import '~bulma/sass/utilities/_all';
@import './theme.scss';
@import './print.scss';
@import './tree.scss';

@import 'vue-select/src/scss/vue-select.scss';
.vs--searchable .vs__dropdown-toggle {
  height: 36px;
}

.v-select.vs--single.vs--searchable.is-danger > div {
  border: 1px solid $danger;
}
 ::-webkit-scrollbar-track {
   background-color: #f5f5f5;
 }

 ::-webkit-scrollbar {
   width: 7px;
   height: 7px;
   background-color: #f5f5f5; }

 ::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: #555;
 }
.b-table .table-wrapper.has-sticky-header {
  min-height: 120px !important;
  height: 60vh;
}

.b-table .table tr.detail .detail-container {
  padding: 1rem 3rem;
}

.header-table-zindex {
  z-index: 19 !important;
}

.table-auto-height {
  height: auto !important;
}

.th-wrap .control input {
  @extend .is-small;
}

.buttons .b-tooltip {
  margin-right: 0.1rem;
}

.is-sticky-right {
  right: 0;
}

.is-sticky {
  position: sticky;
}
.on-right {
  right: 0;
}
.on-top {
  top: 0;
}

.flex-nowrap {
  flex-wrap: unset;
}

@mixin transition {
  transition: 250ms ease-in-out 50ms;
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
//VARs
$aside-bar-width: 230px;

.path-active {
  &:hover {
    & a {
      color: $primary;
    }
  }
  & a {
    color: $primary;
  }
}

html {
  background-color: #f3f3f3;
}
.w100 {
  width: 100%;
}
b {
  font-weight: bold;
}

//MIXINS
@mixin transition($t) {
  transition: $t 250ms ease-in-out 50ms;
}

#adminTemplate {
  padding-left: $aside-bar-width;
  @include transition(left);
}

#appContainer {
  padding: 2rem 1rem;
  min-height: 86vh;
}

.clip-path {
  clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
}

.abs-rt {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.3rem;
}
//SIDEBAR
#asidebar {
  position: fixed;
  box-shadow: 0 0 8px rgba(58, 54, 54, 0.5);
  left: 0;
  height: 100vh;
  background-color: #c3c6de5c;
  z-index: 39;
  width: $aside-bar-width;
  overflow: auto;
  @include transition(left);
  & .brand {
    /* background-color: #dbdbdb; //fondo de imagen*/
    padding: 10px;
  }
  & ul ul {
    margin: 0;
    padding: 0;
    margin-left: 0.7em;
    overflow: auto;
    max-height: 70vh;
    background-color: #f1f1f1;
  }
}

html:not(.sidebar-is-display) {
  #asidebar {
    left: $aside-bar-width * -1;
    @include transition(left);
  }
  #adminTemplate {
    padding-left: 0;
  }
}

@include for-phone-only {
  #adminTemplate {
    padding-left: 0px;
  }
  html:not(.sidebar-is-display) {
    #asidebar {
      left: $aside-bar-width * -1;
    }
    #adminTemplate {
      padding-left: 0px;
    }
  }
}

.btn-consultar {
  margin-top: 30px;
}

// @import "./colors.scss";
// $statusCode: ("101" color("green", "darken-1") "\f058", "102" color("red", "darken-1") "\f05e");
// @each $code, $color, $icon in $statusCode {
//   [status-code="#{$code}"]::before {
//     content: "#{$icon}";
//     color: $color;
//     font-family: "Font Awesome 5 Free";
//   }
// }

// .modal .animation-content .modal-card {
//   overflow: auto !important;
// }

// .modal-card-body {
//   overflow: auto !important;
// }
.animation-content {
  width: 80vw !important;
}
.modal-card {
  width: 100%;
}

th .th-wrap {
  width: 100%;
  & * {
    width: 100%;
  }
}

.mr-1 {
  margin-right: 5px;
}

.b-table .table td.is-sticky {
  box-shadow: -1px 2px 3px 1px rgba(160, 160, 160, 0.4);
}

th,
td {
  font-size: 0.9em;
  vertical-align: middle !important;
}

td[rowspan] {
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

td:empty:before {
  content: '--';
  display: block;
}
th:empty:before {
  content: '--';
  display: block;
}

.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-space-between {
  justify-content: space-between;
}

.table-tool {
  z-index: unset;
}

.modal {
  position: fixed !important;
  overflow: auto !important;
  .modal-background {
    position: fixed !important;
  }
  .modal-content {
    overflow: visible !important;
  }
  .modal-card {
    overflow: visible !important;
  }
  .modal-card-body {
    overflow: visible !important;
  }
}

.menu-list a.is-active {
  background-color: unset;
  color: unset;
}

a.router-link-exact-active.router-link-active {
  color: $primary;
}

.tabs.is-boxed {
  background: #e6e6e6;
}

.buttons.modal-actions {
  margin-top: 1.5rem;
  border-top: 1px solid #cecece;
  padding: 1.5rem;
  justify-content: space-between;
  background: whitesmoke;
  position: sticky;
  bottom: -20px;
  z-index: 5;
}

.buttons.modal-actions > button,
.buttons.modal-actions > button + button {
  width: 15vh;
}
.buttons.modal-actions > button {
  float: left;
}
.buttons.modal-actions > button + button {
  float: right;
}

// .modal .animation-content .modal-card {
//   overflow: auto !important;
// }

// .modal-card-body {
//   overflow: auto !important;
// }

// .modal.is-active {
//   overflow: scroll !important;
// }
// .modal-background {
//   position: fixed !important;
// }
.tab-content {
  padding: 0 !important;
}

.overflow {
  overflow: auto;
  max-height: 90vh;
}

.scale-on-hover {
  transition: transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    box-shadow: 0px 1px 18px 1px #cacaca;
  }
}

.detail-container {
  border-bottom: 2px solid map-get($materialize-grey, 'darken-3');
}

table.fixed-head {
  position: relative !important;
  & thead tr:last-child th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  & tfoot tr:last-child th {
    position: sticky;
    bottom: 0;
    z-index: 2;
  }
}
