@import 'colors';
@import '~bulma/sass/utilities/_all';
// Import Bulma's core

// Set your colors
$primary: #05014cb3;
$primary-invert: findColorInvert($primary);
$secondary: #5b5b5f;
$secondary-invert: findColorInvert($secondary);

// Setup $colors to use as bulma classes (e.g. 'is-red')
$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'secondary': (
    $secondary,
    $secondary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'green': (
    map-get($materialize-green, 'base'),
    map-get($materialize-green, 'darken-3'),
  ),
  'orange': (
    map-get($materialize-orange, 'base'),
    map-get($materialize-orange, 'darken-3'),
  ),
);

$body-font-size: 0.9em;
$table-sticky-header-height: 400px;
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
