$border: rgb(36, 36, 36);
$border-hover: #aaa;
$bg-hover: #eee;
$text: #888;
$text-hover: #000;
$ident: 20px;
$left: -($ident);

ul.wtree {
    margin-left: $ident;
}

ul.wtree {
    li,ol {
        cursor: pointer;
        list-style-type: none;
        margin: 10px 0 10px 10px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: -20px;
            border-left: 1px solid #242424;
            border-bottom: 1px solid #242424;
            width: 20px;
            height: 37px;
        }
        &:after {
            position: absolute;
            content: "";
            top: 26px;
            left: -20px;
            border-left: 1px solid #242424;
            border-top: 1px solid #242424;
            width: 20px;
            height: 100%;
        }
        &:last-child:after {
            display: none;
        }
        > .wtree-item {
            display: block;
            // box-shadow: 0 0 0 1px $border;
            padding: 10px;
            color: $text;
            text-decoration: none;
        }
    }
}

ul.wtree {
    li {
        > .wtree-item {
            &:hover,
            &:focus {
                background: $bg-hover;
                color: $text-hover;
                border: 1px solid $border-hover;
                & + ul {
                    li {
                        .wtree-item {
                            background: $bg-hover;
                            color: $text-hover;
                            box-shadow: 0 0 0 1px $border-hover;
                        }
                    }
                }
            }

            &:hover + ul,
            &:focus + ul {
                li {
                    &:after,
                    &:before {
                        box-shadow: 0 0 0 1px $border-hover;
                    }
                }
            }
        }
    }
}
