<template lang="pug">
div
  .columns.is-multiline
    .column.is-4
      SelectSearch(
        v-model="form.cliente",
        :title="$t('label.client')",
        :options="referencias.clientesList",
        :error="{ 'is-danger': $v.form.cliente.$error }",
        field="nombre",
        :required="true"
      )
    .column.is-4
      SelectSearch(
        v-model="form.consecionario",
        :title="$t('label.concessionaire')",
        :options="referencias.consecionariosList",
        :error="{ 'is-danger': $v.form.consecionario.$error }",
        field="nombre",
        :required="true"
      )
    .column.is-4
      b-field( :label="$t('label.observations')", :type="{ 'is-danger': $v.form.observacion.$error }" )
        b-input(required, v-model="form.observacion", minlength="4" )
</template>
<script>

import SelectSearch from "@/components/SelectSearch";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  name: "step1",
  props: {
    model: Object,
    referencias: Object,
  },
  components: {
    SelectSearch,
  },
  data() {
    return {
      form: this.model,
      isLoading: false,
      isValid: false,
    };
  },
  validations: {
    form: {
      cliente: {required},
      consecionario: { required },
      observacion: { required, minLength: minLength(4) },
    },
  },
  methods: {
    valid() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isValid = false;
      } else {
        this.isValid = true;
        this.$emit("isValid");
      }
    }
  }
};
</script>
