<!DOCTYPE html>
<html lang="es" data-build-timestamp-utc="<%= new Date().toISOString() %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache-control" content="must-revalidate" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="<%= new Date(2021-01-01).toISOString() %>" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Administrador</title>
  </head>
  <body>
    <noscript>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
    </script>
  </body>
</html>
