<template lang="pug">
#Reporte-cliente
  form#FilterDevice.card.noPrint(v-on:submit.prevent='formEvent')
    .card-header.has-background-primary
      .card-header-title.has-text-white
        i.fas.fa-filter(style='letter-spacing: 5pt;')
        | &nbsp; {{ $t("label.reportTitle", { module: $tc("module.customerControl", 1) }) }}
    .card-content
      .columns.is-multiline
        .column.is-4
          SelectMultiple(
            v-model='filtros.cliente',
            :options='referencias.clientesList',
            :required='false',
            :title='$t("label.client")'
          )
        .column.is-4
          SelectMultiple(
            v-model='filtros.consecionario',
            :options='referencias.consecionariosList',
            :required='false',
            :title='$t("label.concessionaire")'
          )
      .columns.is-multiline
        .column.has-text-right
          b-button(
            type='is-primary',
            icon-left='fas fa-file-alt',
            @click='getReport()'
          ) {{ $t("btn.generateReportBasic") }}

  Reporte(ref='reporte', :reporte='reporte', v-if='showReport && !isLoading')
  b-progress(size='is-small', type='is-success', v-if='isLoading')
</template>
<script>
//import apiReporte from '@/api/reporte';
import SelectMultiple from '@/components/SelectMultiple';
import Reporte from './reporte';

export default {
  components: {
    SelectMultiple,
    Reporte,
  },
  name: 'FiltroReporteClientes',
  data() {
    return {
      referencias: {},
      filtros: {
        cliente: null,
        consecionario: null,
      },
      isLoading: false,
      showReport: false,
      reporte: {},
    };
  },
  mounted() {
    var self = this;
    self.referencias = {
      clientesList: [
        {
          id: 1,
          nombre: "Pedro Perez"
        },
        {
          id: 2,
          nombre: "Maria Perez"
        }
      ],
      consecionariosList: [
        {
          id: 1,
          nombre: "Toyteq Motors S.A",
          pais_id:1
        },
        {
          id: 2,
          nombre: "Kombe Motors"
        },
      ],
    };
    /*
    apiReporte
      .createCliente()
      .then(function (res) {
        self.referencias = res.referencias;
      })
      .catch(function (err) {
        console.error(err);
      })
    */
  },
  methods: {
    getReport() {
      var self = this;
      self.isLoading = true;

      self.reporte = [
        {
          cliente_id: 1,
          consecionario_id: 1,
          cliente_nombre: "Pedro Perez",
          consecionario_nombre: "Toyteq Motors S.A",
          observacion: "obs",
        },
        {
          cliente_id: 2,
          consecionario_id: 2,
          cliente_nombre: "Maria Perez",
          consecionario_nombre: "Kombe Motors",
          observacion: "obs2",
        }
      ];
      
      if (self.filtros.cliente != null) {

        var filterClientes = self.filtros.cliente.map( (option) => { return option.id; } );
        self.reporte = self.reporte.filter(ele=> filterClientes.includes(ele.cliente_id) );
      }
      if (self.filtros.consecionario != null) {
        
        var filterConsecionario = self.filtros.consecionario.map( (option) => { return option.id; } );
        self.reporte = self.reporte.filter(ele=> filterConsecionario.includes(ele.consecionario_id) );
      }

      setTimeout(function(){ 

        self.isLoading = false;
        self.showReport = true;
      }, 1000);
      /*
      apiReporte
        .listCliente(filtros)
        .then(function (res) {
          if (res.status == 200) {
            self.reporte = res.data.data;
            self.showReport = true;
          }
        })
        .catch(function (err) {
          console.error('@listReporteCliente', err);
        })
        .finally(function () {
          self.isLoading = false;
        });
      */
    },
  },
};
</script>
