<template lang="pug">
#reporte
  b-message(
    type='is-warning',
    has-icon,
    v-if='report.length ? false : true'
  )
    p {{ $t("label.reportTblisEmpty") }}

  .card.is-paddingless.is-relative(
    v-if='report.length ? true : false'
  )
    .card-header.has-background-primary.is-sticky.on-top
      .card-header-title.has-text-white
        i.fas.fa-file(style='letter-spacing: 5pt;')
        b &nbsp; {{ $t("label.reportTitle", { module: $tc("module.customerControl", 1) }) }}
      .card-header-icon

  section#content(
    ref='content',
    v-if='report.length ? true : false'
  )
    .card(style='margin:1rem 0')
      #resumen.card-content.is-paddingless
        table#tbl-reporte.table.is-bordered.is-hoverable.is-fullwidth.is-narrow.export-table.fixed-head
          thead
            tr
              th.mc-grey.mc-lighten-2 {{ $t("label.client") }}
              th.mc-grey.mc-lighten-3 {{ $t("label.concessionaire") }}
              th.mc-grey.mc-lighten-3 {{ $t("label.observations") }}
              
          tbody
            tr(v-for='row in report')
              td {{ row.cliente_nombre}}
              td {{ row.consecionario_nombre}}
              td {{ row.observacion}}
              
          tfoot

</template>
<script>
//-components

export default {
  name: 'ReporteControlCliente',
  components: {
  },
  props: {
    reporte: Array,
  },
  data() {
    return {
      report: this.reporte,
      isEmpty: true,
      page: 1
    };
  },
};
</script>
