<template lang="pug">
#clientes
  .panel-heading.has-background-primary.has-text-white
    .columns
      .column
        h6.has-text-white.is-size-6
          b-icon.mr-1(icon='file-alt', size='is-small')
          | &nbsp;
          b {{ $tc("module.client", 2) }}
      .column
        .buttons.is-right
          b-button(
            type='is-info',
            size='is-small',
            icon-left='fas fa-plus',
            @click='showModal("store")',
          ) {{ $t("btn.record", { module: $tc("module.client", 1) }) }}
  TableTool(
    :show-per-page='true',
    v-on:setPerpage='setPerpage',
    :show-search='true',
    v-on:setSearch='setSearch'
  )
  #export-content
    b-table(
      :data='isEmpty ? [] : filteredClientes',
      :loading='isLoading',
      sticky-header,
      striped,
      narrowed,
      :default-sort='["id", "asc"]',
      hoverable
    )
      template(slot-scope='props')
        b-table-column(
          field='id',
          sortable,
          searchable,
          centered,
          :label='$t("label.id")'
        ) {{ props.row.id }}
        b-table-column(
          field='nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.name")'
        ) {{ props.row.nombre }}
        b-table-column(
          field='rif',
          sortable,
          searchable,
          centered,
          :label='$t("label.rif")'
        ) {{ props.row.rif }}
        b-table-column(
          field='telefono',
          sortable,
          searchable,
          centered,
          :label='$t("label.phone")'
        ) {{ props.row.telefono }}
        b-table-column(
          field='telefono_secundario',
          sortable,
          searchable,
          centered,
          :label='$t("label.secondaryPhone")'
        ) {{ props.row.telefono_secundario }}
        b-table-column(
          field='email',
          sortable,
          searchable,
          centered,
          :label='$t("label.email")'
        ) {{ props.row.email }}
        b-table-column(
          field='email_secundario',
          sortable,
          searchable,
          centered,
          :label='$t("label.secondaryMail")'
        ) {{ props.row.email_secundario }}
        b-table-column(
          field='direccion',
          sortable,
          searchable,
          centered,
          :label='$t("label.address")'
        ) {{ props.row.direccion }}
        b-table-column(
          field='pais.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.country")'
        ) {{ !props.row.pais ? "" : props.row.pais.nombre }}
        b-table-column(
          field='estado.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.state")'
        ) {{ !props.row.estado ? "" : props.row.estado.nombre }}
        b-table-column(
          field='municipio.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.municipality")'
        ) {{ !props.row.municipio ? "" : props.row.municipio.nombre }}
        b-table-column(
          field='status.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.status")'
        )
          StatusType(:item='props.row')
        b-table-column(
          field='actions',
          sticky,
          cell-class='is-sticky-right nowrap',
          header-class='is-sticky-right',
          :label='$t("label.actions")'
        )
          b-tooltip(
            v-if='props.row.deleted_at == null',
            :label='$t("label.edit", { module: $tc("module.client") })'
          )
            b-button(
              
              type='is-primary',
              size='is-small',
              icon-right='edit',
              @click='showModal("update", props.row)'
            )
          | &nbsp;
          b-tooltip(
            v-if='props.row.deleted_at == null',
            type='is-danger',
            :label='$t("label.delete", { module: $tc("module.client") })'
          )
            b-button(
              type='is-danger',
              size='is-small',
              icon-right='trash',
              @click='destroy(props.row.id)'
            )
          | &nbsp;
          b-tooltip(
            v-if='props.row.deleted_at != null',
            type='is-info',
            :label='$t("label.recycle", { module: $tc("module.client") })'
          )
            b-button(
              type='is-info',
              size='is-small',
              icon-right='recycle',
              @click='recycle(props.row.id)'
            )
      template(slot='empty')
        section.section.content.has-text-grey.has-text-centered
          p
            b-icon(icon='info-circle', size='is-large')
          p {{ $t("label.tblisEmpty", { module: $tc("module.client", 2) }) }}
</template>
<script>
//import apiCliente from '@/api/cliente';
//-components
import modal from './modal';
import StatusType from '@/components/StatusType';
import TableTool from '@/components/TableTool';
export default {
  name: 'clientes',
  data() {
    return {
      clientes: [],
      isLoading: false,
      isEmpty: true,
      search: '',
      perPage: 20,
    };
  },
  mounted() {
    this.list();
  },
  components: { StatusType, TableTool },
  methods: {
    list() {
      var self = this;
      self.isLoading = true;
      self.clientes = [
        {
          id: 1,
          nombre: "Pedro Perez",
          rif: "12345",
          telefono: null,
          telefono_secundario: null,
          email: null,
          email_secundario: null,
          fax: null,
          direccion: null,
          status: {
            id: 101,
            nombre: "Activo",
          },
          pais: {id:2, nombre: "PERU"},
          estado: {id:4, nombre: "LIMA"},
          municipio: null,
          created_at: "2021-03-13",
          updated_at: "2021-03-13",
          deleted_at: null
        },
        {
          id: 2,
          nombre: "Maria Perez",
          rif: "654321",
          telefono: null,
          telefono_secundario: null,
          email: null,
          email_secundario: null,
          fax: null,
          direccion: null,
          status: {
            id: 103,
            nombre: "Activo",
          },
          pais: {id:1, nombre: "VENEZUELA"},
          estado: null,
          municipio: null,
          created_at: "2021-03-13",
          updated_at: "2021-03-13",
          deleted_at: "2021-03-13"
        },
      ];
      setTimeout(function(){ 
        self.isLoading = false; 
        self.isEmpty = false;
      }, 1500);
      /* 
      peticion al backend
      apiCliente
        .list()
        .then(function (res) {
          if (res.status == 200) {
            self.clientes = res.data.data;
            self.isEmpty = false;
          }
        })
        .catch(function (err) {
          console.error('@listCliente', err);
        })
        .finally(function () {
          self.isLoading = false;
        });
      */
    },
    showModal(event, object = null) {
      this.$buefy.modal.open({
        props: {
          event: event,
          object: object ? object : {},
        },
        parent: this,
        component: modal,
        hasModalCard: true,
        trapFocus: true,
      });
    },
    destroy(id) {
      var self = this;
      this.$buefy.dialog.confirm({
        title: this.$t('label.delete', { module: this.$tc('module.client') }),
        message: this.$t('messages.delete_confirm', {
          module: this.$tc('module.client'),
        }),
        confirmText: this.$t('btn.confirm'),
        cancelText: this.$t('btn.cancel'),
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          self.$toast("Eliminado exitosamente", 'success');
          console.log(id);
          /*
          apiCliente
            .destroy(id)
            .then(function (res) {
              if (res.status == 200) {
                self.$toast(res.data.message, 'success');
              } else {
                self.$toast(res.data.message, 'danger');
              }
            })
            .catch(function (err) {
              console.error('@destroy', err);
            })
            .finally(function () {
              self.list();
            });
            */
        },
      });
    },
    recycle(id) {
      var self = this;
      this.$buefy.dialog.confirm({
        title: this.$t('label.recycle', { module: this.$tc('module.client') }),
        message: this.$t('messages.recycle_confirm', {
          module: this.$tc('module.client'),
        }),
        confirmText: this.$t('btn.confirm'),
        cancelText: this.$t('btn.cancel'),
        type: 'is-info',
        hasIcon: true,
        onConfirm: () => {
          self.$toast("Reciclado exitosamente", 'success');
          console.log(id);
          /*
          apiCliente
            .recycle(id)
            .then(function (res) {
              if (res.status == 200) {
                self.$toast(res.data.message, 'success');
              } else {
                self.$toast(res.data.message, 'danger');
              }
            })
            .catch(function (err) {
              console.error('@delete', err);
            })
            .finally(function () {
              self.list();
            });
          */
        },
      });
    },
    setPerpage(nval) {
      this.perPage = nval;
    },
    setSearch(nval) {
      this.search = nval;
    },
  },
  computed: {
    filteredClientes() {
      let filter = this.clientes.filter((ele) => {
        if (!ele.nombre) {
          ele.nombre = ' ';
        }
        if (!ele.rif) {
          ele.rif = ' ';
        }
        if (!ele.telefono) {
          ele.telefono = ' ';
        }
        if (!ele.telefono_secundario) {
          ele.telefono_secundario = ' ';
        }
        if (!ele.email) {
          ele.email = ' ';
        }
        if (!ele.email_secundario) {
          ele.email_secundario = ' ';
        }
        if (!ele.direccion) {
          ele.direccion = ' ';
        }
        if (!ele.estado) {
          ele.estado = {};
          ele.estado.nombre = '';
        }
        if (!ele.municipio) {
          ele.municipio = {};
          ele.municipio.nombre = '';
        }
        if (!ele.pais) {
          ele.pais = {};
          ele.pais.nombre = '';
        }
        if (!ele.status) {
          ele.status = {};
          ele.status.nombre = '';
        }
        let result =
          this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase()) ||
          ele.nombre.toLowerCase().match(this.search.toLowerCase()) ||
          ele.rif.toLowerCase().match(this.search.toLowerCase()) ||
          ele.telefono.toLowerCase().match(this.search.toLowerCase()) ||
          ele.telefono_secundario.toLowerCase().match(this.search.toLowerCase()) ||
          ele.email.toLowerCase().match(this.search.toLowerCase()) ||
          ele.email_secundario.toLowerCase().match(this.search.toLowerCase()) ||
          ele.direccion.toLowerCase().match(this.search.toLowerCase()) ||
          ele.estado.nombre.toLowerCase().match(this.search.toLowerCase()) ||
          ele.municipio.nombre.toLowerCase().match(this.search.toLowerCase()) ||
          ele.pais.nombre.toLowerCase().match(this.search.toLowerCase()) ||
          ele.status.nombre.toLowerCase().match(this.search.toLowerCase());
        return result;
      });
      if (this.search == '') {
        filter = this.clientes;
      }
      return filter;
    },
  },
};
</script>
