<template lang="pug">
#clientes
  .panel-heading.has-background-primary.has-text-white
    .columns
      .column
        h6.has-text-white.is-size-6
          b-icon.mr-1(icon='file-alt', size='is-small')
          | &nbsp;
          b {{ $tc("module.customerControl", 2) }}
      .column
        .buttons.is-right
          b-button(
            type='is-info',
            size='is-small',
            icon-left='fas fa-plus',
            @click='showModal("store")',
          ) {{ $t("btn.record", { module: $tc("module.customerControl", 1) }) }}
  TableTool(
    :show-per-page='true',
    v-on:setPerpage='setPerpage',
    :show-search='true',
    v-on:setSearch='setSearch'
  )
  #export-content
    b-table(
      :data='isEmpty ? [] : filteredControlClientes',
      :loading='isLoading',
      sticky-header,
      striped,
      narrowed,
      :default-sort='["id", "asc"]',
      hoverable
    )
      template(slot-scope='props')
        b-table-column(
          field='id',
          sortable,
          searchable,
          centered,
          :label='$t("label.id")'
        ) {{ props.row.id }}
        b-table-column(
          field='cliente.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.client")'
        ) {{ !props.row.cliente ? "" : props.row.cliente.nombre }}
        b-table-column(
          field='consecionario.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.concessionaire")'
        ) {{ !props.row.consecionario ? "" : props.row.consecionario.nombre }}
        b-table-column(
          field='observacion',
          sortable,
          searchable,
          centered,
          :label='$t("label.observations")'
        ) {{ props.row.observacion }}
        b-table-column(
          field='status.nombre',
          sortable,
          searchable,
          centered,
          :label='$t("label.status")'
        )
          StatusType(:item='props.row')
        b-table-column(
          field='actions',
          sticky,
          cell-class='is-sticky-right nowrap',
          header-class='is-sticky-right',
          :label='$t("label.actions")'
        )
          b-tooltip(
            v-if='props.row.deleted_at == null',
            :label='$t("label.edit", { module: $tc("module.customerControl") })'
          )
            b-button(
              
              type='is-primary',
              size='is-small',
              icon-right='edit',
              @click='showModal("update", props.row)'
            )
          | &nbsp;
          b-tooltip(
            v-if='props.row.deleted_at == null',
            type='is-danger',
            :label='$t("label.delete", { module: $tc("module.customerControl") })'
          )
            b-button(
              type='is-danger',
              size='is-small',
              icon-right='trash',
              @click='destroy(props.row.id)'
            )
          | &nbsp;
          b-tooltip(
            v-if='props.row.deleted_at != null',
            type='is-info',
            :label='$t("label.recycle", { module: $tc("module.customerControl") })'
          )
            b-button(
              type='is-info',
              size='is-small',
              icon-right='recycle',
              @click='recycle(props.row.id)'
            )
      template(slot='empty')
        section.section.content.has-text-grey.has-text-centered
          p
            b-icon(icon='info-circle', size='is-large')
          p {{ $t("label.tblisEmpty", { module: $tc("module.customerControl", 2) }) }}
</template>
<script>
//import apiCliente from '@/api/cliente';
//-components
import modal from './modal';
import StatusType from '@/components/StatusType';
import TableTool from '@/components/TableTool';
export default {
  name: 'ControlCliente',
  data() {
    return {
      clientes: [],
      isLoading: false,
      isEmpty: true,
      search: '',
      perPage: 20,
    };
  },
  mounted() {
    this.list();
  },
  components: { StatusType, TableTool },
  methods: {
    list() {
      var self = this;
      self.isLoading = true;
      self.controlClientes = [
        {
          id: 1,
          cliente: {id:1, nombre: "Pedro Perez"},
          consecionario: {id:1, nombre: "Toyteq Motors S.A"},
          observacion: "Comprador",
          status: {
            id: 101,
            nombre: "Activo",
          },
          created_at: "2021-03-13",
          updated_at: "2021-03-13",
          deleted_at: null
        },
        {
          id: 2,
          cliente: {id:2, nombre: "Maria Perez"},
          consecionario: {id:2, nombre: "Kombe Motors"},
          observacion: "observacion",
          status: {
            id: 103,
            nombre: "Eliminado",
          },
          created_at: "2021-03-13",
          updated_at: "2021-03-13",
          deleted_at: "2021-03-13"
        },
      ];
      setTimeout(function(){ 
        self.isLoading = false; 
        self.isEmpty = false;
      }, 1500);
      /* 
      peticion al backend
      apiCliente
        .list()
        .then(function (res) {
          if (res.status == 200) {
            self.controlClientes = res.data.data;
            self.isEmpty = false;
          }
        })
        .catch(function (err) {
          console.error('@listCliente', err);
        })
        .finally(function () {
          self.isLoading = false;
        });
      */
    },
    showModal(event, object = null) {
      this.$buefy.modal.open({
        props: {
          event: event,
          object: object ? object : {},
        },
        parent: this,
        component: modal,
        hasModalCard: true,
        trapFocus: true,
      });
    },
    destroy(id) {
      var self = this;
      this.$buefy.dialog.confirm({
        title: this.$t('label.delete', { module: this.$tc('module.customerControl') }),
        message: this.$t('messages.delete_confirm', {
          module: this.$tc('module.customerControl'),
        }),
        confirmText: this.$t('btn.confirm'),
        cancelText: this.$t('btn.cancel'),
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          self.$toast("Eliminado exitosamente", 'success');
          console.log(id);
          /*
          apiCliente
            .destroy(id)
            .then(function (res) {
              if (res.status == 200) {
                self.$toast(res.data.message, 'success');
              } else {
                self.$toast(res.data.message, 'danger');
              }
            })
            .catch(function (err) {
              console.error('@destroy', err);
            })
            .finally(function () {
              self.list();
            });
            */
        },
      });
    },
    recycle(id) {
      var self = this;
      this.$buefy.dialog.confirm({
        title: this.$t('label.recycle', { module: this.$tc('module.customerControl') }),
        message: this.$t('messages.recycle_confirm', {
          module: this.$tc('module.customerControl'),
        }),
        confirmText: this.$t('btn.confirm'),
        cancelText: this.$t('btn.cancel'),
        type: 'is-info',
        hasIcon: true,
        onConfirm: () => {
          self.$toast("Reciclado exitosamente", 'success');
          console.log(id);
          /*
          apiCliente
            .recycle(id)
            .then(function (res) {
              if (res.status == 200) {
                self.$toast(res.data.message, 'success');
              } else {
                self.$toast(res.data.message, 'danger');
              }
            })
            .catch(function (err) {
              console.error('@delete', err);
            })
            .finally(function () {
              self.list();
            });
          */
        },
      });
    },
    setPerpage(nval) {
      this.perPage = nval;
    },
    setSearch(nval) {
      this.search = nval;
    },
  },
  computed: {
    filteredControlClientes() {
      let filter = this.controlClientes.filter((ele) => {

        if (!ele.cliente) {
          ele.cliente = {};
          ele.cliente.nombre = '';
        }
        if (!ele.consecionario) {
          ele.consecionario = {};
          ele.consecionario.nombre = '';
        }
        if (!ele.status) {
          ele.status = {};
          ele.status.nombre = '';
        }
        let result =
          this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase()) ||
          ele.cliente.nombre.toLowerCase().match(this.search.toLowerCase()) ||
          ele.consecionario.nombre.toLowerCase().match(this.search.toLowerCase()) ||
          ele.observacion.toLowerCase().match(this.search.toLowerCase()) ||
          ele.status.nombre.toLowerCase().match(this.search.toLowerCase());
        return result;
      });
      if (this.search == '') {
        filter = this.controlClientes;
      }
      return filter;
    },
  },
};
</script>
