<template lang="pug">
.SelectSearch
  b-field(:label='title')
    v-select(
      v-model='selected',
      :label='field',
      :reduce='(option) => option.id',
      :options='options',
      :loading='isLoading',
      :disabled='isLoading || disabled',
      :class='error',
      @input='onChange()'
    )
      template(v-slot:no-options='{ search, searching }')
        template(v-if='searching')
          | {{ $t("label.noResult") }}
          em &nbsp; {{ search }}
          | .
</template>
<script>
export default {
  name: 'SelectSearch',
  props: {
    value: [Number, String, null], //id object
    options: {
      type: Array,
      default: () => {
        return [];
      },
      required: true,
    },
    title: String,
    error: Object,
    field: String,
    loading: {
      type: Boolean,
      default: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selected: this.value,
      isLoading: this.loading,
    };
  },
  mounted() {
    this.hasOptions();
  },
  methods: {
    onChange() {
      this.$emit('input', this.selected);
    },
    hasOptions() {
      this.isLoading = true;
      if (this.options.length > 0 || this.loading == false){

        this.isLoading = false;
      }else{
        this.isLoading = true;
      } 
    },
  },
  watch: {
    options: function () {
      this.hasOptions();
    },
  },
};
</script>
