<template lang="pug">
.block
  b-field(:label="title", :type="error")
    b-taginput(
      :value="null",
      v-model="selected",
      :data="filteredTags",
      autocomplete="",
      :open-on-focus="openOnFocus",
      field="nombre",
      icon="far fa-plus-square",
      :placeholder="title",
      @typing="getFilteredTags",
      @input="onChange()",
      @focus="getFilteredTags('')",
      :maxtags="max",
      :has-counter="false",
      :required="required",
      :loading="isLoading",
      :disabled="isLoading"
    )
</template>
<script>
export default {
  name: "SelectMultiple",
  props: {
    value: Array,
    options: {
      type: Array,
      default: () => {
        return [];
      },
      required: true,
    },
    error: Object,
    title: String,
    required: Boolean,
    disabled: {
      type: Boolean,
      default: false,
    },
    max: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      selected: this.value,
      filteredTags: this.options,
      openOnFocus: true,
      isLoading: true,
    };
  },
  mounted() {
    this.hasOptions();
  },
  methods: {
    getFilteredTags(text) {
      this.filteredTags = this.options.filter((option) => {
        return (
          option.nombre.toString().toLowerCase().indexOf(text.toLowerCase()) >=
          0
        );
      });
    },
    onChange() {
      if (this.selected === 0) {
        this.selected = 0;
      }
      this.selected = this.selected == "" ? null : this.selected;
      this.$emit("input", this.selected);
    },
    hasOptions() {
      this.isLoading = true;
      if (this.options.length > 0) this.isLoading = false;
      else this.isLoading = true;
    },
  },
  watch: {
    options: function () {
      this.hasOptions();
    },
  },
};
</script>
