<template lang="pug">
#StatusType
  span(
    v-if='item.deleted_at == null',
    :class='"has-text-" + type',
    style='white-space: nowrap;'
  )
    b-icon(:icon='icon', size='is-small') 
    b {{ item.status.nombre }}

  span.has-text-danger(v-else, style='white-space: nowrap;')
    b-icon(icon='trash', size='is-small') 
    b {{ $t("status.delete") }}
</template>
<script>
export default {
  name: 'StatusType',
  props: {
    item: Object,
  },
  computed: {
    type() {
      switch (this.item.status.id) {
        case 101:
          return 'success';
        case 102:
          return 'warning';
        default:
          return 'danger';
      }
    },
    icon() {
      switch (this.item.status.id) {
        case 101:
          return 'check';
        case 102:
          return 'exclamation-triangle';
        default:
          return 'exclamation-circle';
      }
    },
  },
};
</script>
