<template lang="pug">
#table-tool.columns.is-vcentered.has-background-white-bis.is-marginless
	.column.is-3(v-if="showSearch")
				b-field(position='is-centered')
					b-input(:placeholder="$t('label.search')" v-model="model_search" @input="setSearch" size="is-small" type='search' icon='search')
	.column( v-if="showPerPage")
			b-field(position='is-right')
				b-select(placeholder='Select a pager' v-model="model_perPage" size="is-small" @input="setPerpage")
					option( :value='10') 10
					option( :value='20') 20
					option( :value='50') 50
					option( :value='100') 100
					option( :value='99999') Todo

</template>
<script>
export default {
  name:"table-tool",
  props:{
    showPerPage:Boolean,
    showSearch:Boolean,
    search:String
	},
	data(){
		return{
			model_perPage:20,
			model_search:""
		}
	},
	methods:{
		setPerpage(){this.$emit("setPerpage",this.model_perPage)},
		setSearch(){this.$emit("setSearch",this.model_search)},
	}
}
</script>