<template lang="pug">
#forbidden.container.has-text-centered
  br
  br
  img(src="@/assets/forbidden.svg" alt="forbidden" style="width:230px")
  h1.is-size-1.has-text-weight-bold {{$t('forbidden')}} 
  p {{$t('message')}}
  b-button(tag="router-link" to="/") {{$t('getback')}}

</template>
<script>
export default {
    name: 'forbidden',
};
</script>
<i18n>
{
  "es":{
    "forbidden":"403 Prohibido",
    "message":"Usted no posee los permisos necesarios para este contenido",
    "getback":"Volver"
  },
  "en":{
    "forbidden":"403 Forbidden",
    "message":"You do not have the necessary permissions for this content",
    "getback":"Return"
  }
}
</i18n>
