<template lang="pug">
#networkerror.container.has-text-centered
  br
  br
  img(src='@/assets/networkerror.svg', alt='networkerror', style='width:230px')
  h1.is-size-1.has-text-weight-bold {{ $t("networkerror") }}
  p {{ $t("message") }}
  b-button(@click='previusPage') {{ $t("getback") }}
</template>
<script>
export default {
  name: 'networkerror',
  methods: {
    previusPage() {
      this.$router.go(-1);
    },
  },
};
</script>
<i18n>
{
  "es":{
    "networkerror":"Error de conexión",
    "message":"No se pudo establecer conexión con el servidor",
    "getback":"Volver"
  },
  "en":{
    "networkerror":"Network Error",
    "message":"Connection to server could not be established",
    "getback":"Return"
  }
}
</i18n>
