<template lang="pug">
#notfound.container.has-text-centered
  br
  br
  img(src="@/assets/notfound.svg" alt="notfound" style="width:230px")
  h1.is-size-1.has-text-weight-bold {{$t('notfound')}} 
  p {{$t('message')}}
  b-button(tag="router-link" to="/") {{$t('getback')}}

</template>
<script>
export default {
    name: "notfound",
};
</script>
<i18n>
{
  "es":{
    "notfound":"404 No Encontrado",
    "message":"no se pudo encontrar el contenido solicitado",
    "getback":"Volver"
  },
  "en":{
    "notfound":"404 Not Found",
    "message":"no se pudo encontrar el contenido solicitado",
    "getback":"Return"
  }
}
</i18n>
