<template lang="pug">
div
  .columns.is-multiline
    .column.is-4
      b-field(:label="$t('label.phone')", :type="{ 'is-danger': $v.form.telefono.$error }")
        b-input(
          numeric,
          v-model="form.telefono",
          placeholder="123456",
          :controls="false"
        )
    .column.is-4
      b-field(:label="$t('label.secondaryPhone')", :type="{ 'is-danger': $v.form.telefono_secundario.$error }" )
        b-input(
          numeric,
          v-model="form.telefono_secundario",
          placeholder="123456",
          :controls="false"
        )
    .column.is-4
      b-field( :label="$t('label.email')", :type="{ 'is-danger': $v.form.email.$error }") 
        b-input(
          v-model="form.email",
          minlength="9",
          type="email",
          placeholder="example@domain.com"
        )
    .column.is-4
      b-field( :label="$t('label.secondaryMail')", :type="{ 'is-danger': $v.form.email_secundario.$error }")
        b-input(
          v-model="form.email_secundario",
          minlength="9",
          type="email",
          placeholder="example@domain.com"
        )
</template>
<script>
import { numeric, minLength, email } from "vuelidate/lib/validators";
export default {
  name: "step2",
  props: {
    model: Object,
    referencias: Object,
  },
  data() {
    return {
      form: this.model,
      isValid: false,
    };
  },
  validations: {
    form: {
      telefono: { numeric },
      telefono_secundario: { numeric },
      email: { email },
      email_secundario: { email, minLength: minLength(4) },
    },
  },
  methods: {
    valid() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isValid = false;
      } else {
        this.isValid = true;
        this.$emit("isValid");
      }
    },
  },
};
</script>
