<template lang="pug">
footer.footer.level(style='padding: 1rem;')
  .level-left(v-if='company')
    p
      | {{company}}
  .level-right
    p
      | App
</template>
<script>
export default {
  name: 'adminFooter',
  data() {
    return {
      company: "Empresa",
      
    };
  },
  mounted() {
  },
};
</script>
