<template lang="pug">
#nav-bar
  .buttons.is-paddingless
    a.button.is-marginless.is-light(@click="toggleSideNav()")
      b-icon(
        pack="fas",
        :icon="sidebarDisplay ? 'bars' : 'ellipsis-v'",
        size="is-small"
      )
    span.is-capitalized {{ $t(getCurrentRute) }}
  .has-text-right(style="padding-right:1rem")
    b-icon(pack="fas", icon="user-circle", type="is-success", size="is-small")
    small(v-if="currentUser") &nbsp; {{ currentUser.name }}
  .buttons.is-paddingless
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "navBar",
  data() {
    return {
      currentUser: null,
    };
  },
  mounted() {
    this.currentUser = this.$store.state.global.userLoged;
  },
  methods: {
    ...mapActions(["toggleSidebarDisplay"]),
    
    toggleSideNav() {
      var event = !this.sidebarDisplay;
      this.$store.dispatch("toggleSidebarDisplay", event);
    },
  },
  computed: {
    ...mapGetters(["sidebarDisplay", "getUserLoged", "getCurrentRute"]),
  },
};
</script>
<style lang="scss">
#nav-bar {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto 90px;
  align-items: center;
}
</style>
