<template lang="pug">
b-menu#asidebar
  router-link#brand-slot(to='/')
    img#main-logo-app.brand(
      src='@/assets/logo.png',
      alt='logoapp'
    )
  b-menu
    b-menu-list#main-menu
      b-menu-item(
        v-for='(rute, index) in rutes',
        :key='index',
        :tag='rute.path == "" ? "a" : "router-link"',
        :to='rute.path == "" ? null : rute.path',
        @dblclick.native='pushRoute(rute.path)',
        :icon='rute.icon',
        v-acl='rute.meta.acl',
        :active='true',
        :class='"nav." + rute.name == getCurrentRute.toLocaleLowerCase() ? "has-text-primary has-text-weight-bold" : ""'
      )
        template(slot='label', slot-scope='props')
          | {{ $t("nav." + rute.name) }}
          b-icon.is-pulled-right(
            v-if='rute.children',
            :icon='props.expanded ? "caret-down" : "caret-up"'
          )

        b-menu-item(
          v-if='rute.children',
          v-for='(child, index) in rute.children',
          :key='index',
          :icon='child.icon',
          tag='router-link',
          :to='child.path',
          @dblclick.native='pushRoute(child.path)',
          v-acl='child.meta.acl',
          :active='true',
          :class='"nav." + child.name == getCurrentRute ? "has-text-primary has-text-weight-bold" : ""'
        )
          template(slot='label', slot-scope='props')
            | {{ $t("nav." + child.name) }}

  b-menu(v-if='windowWidth < 700')
    b-menu-list
      b-menu-item(icon='arrow-left', @click='toggleSideNav')
        template(
          slot='label',
          slot-scope='props',
          v-hammer:swipe.left='onSwipeLeft'
        )
          | {{ $t("btn.closed") }}
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  name: 'asidebar',
  data() {
    return {
      rutes: [],
      company: null,
    };
  },
  mounted() {
    this.rutes = this.$router.options.routes[0].children;
  },
  computed: {
    ...mapGetters(['windowWidth', 'getCurrentRute', 'sidebarDisplay']),
  },
  methods: {
    toggleSideNav() {
      var event = !this.sidebarDisplay;
      this.$store.dispatch('toggleSidebarDisplay', event);
    },
    onSwipeLeft() {
      if (this.windowWidth < 700 && this.sidebarDisplay == true) {
        this.$store.dispatch('toggleSidebarDisplay', false);
      }
    },
    pushRoute(path) {
      if (path) {
        var self = this;
        this.$Progress.start();
        this.$store.commit('setHash');
        this.$router
          .push(path)
          .then(() => {
            self.$Progress.finish();
          })
          .catch(() => {
            self.$Progress.finish();
          });
      }
    },
  },
};
</script>
