<template lang="pug">
#Home  
  #Home-cont(v-if="contenedor")
    
</template>
<script>
//-components
//import x from './x';
export default {
  name: 'Home',
  props: {
  },
  data() {
    return {
      contenedor: true,
    };
  },
  mounted(){
    
  },
  components: {
    //x,
  },
};
</script>
