<template lang="pug">
#adminTemplate
    navigation(v-hammer:swipe.left='onSwipeLeft')
    adminHeader
    section#appContainer 
        router-view(:key='$store.state.global.hash')
    adminFooter
    vue-progress-bar
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import navigation from './admin_components/navigation';
import adminFooter from './admin_components/Footer';
import adminHeader from './admin_components/Header';
export default {
    name: 'adminTemplate',
    components: {
        navigation,
        adminFooter,
        adminHeader,
    },
    mounted() {
        this.checkWindowWifth();
        window.addEventListener('resize', this.upadteWindowWidth);
    },
    methods: {
        ...mapActions(['toggleSidebarDisplay', 'upadteWindowWidth']),
        checkWindowWifth: function() {
            if (this.windowWidth < 600) {
                this.$store.dispatch('toggleSidebarDisplay', false);
            } else {
                this.$store.dispatch('toggleSidebarDisplay', true);
            }
        },
        onSwipeLeft() {
            if (this.windowWidth < 600 && this.sidebarDisplay == true) {
                this.$store.dispatch('toggleSidebarDisplay', false);
            }
        },
    },
    computed: {
        ...mapGetters(['sidebarDisplay', 'windowWidth']),
    },
    watch: {
        windowWidth: function() {
            if (this.windowWidth < 600) {
                this.$store.dispatch('toggleSidebarDisplay', false);
            } else {
                this.$store.dispatch('toggleSidebarDisplay', true);
            }
        },
    },
};
</script>
